
/* global values */
:root {
	--shadow-color-1: rgb(50, 9, 108);
}


body {
	background-color: rgb(23, 155, 160);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 30px;
	text-align: center;
	text-indent: 30px;
}

a:hover, a:focus{
	color:  rgb(226, 98, 43) ;
	font-style: italic;
}

/* navigation */
nav ul {
	width: 950px;
	padding: 30px;
	margin: 0px auto 0px auto;
	border-top: 5px double #000;
	border-bottom: 5px double #000;
}

nav ul li {
	display: inline;
	padding: 30px;
	font-size: medium;
}

/* text shadow for word */
#name {
	text-shadow: 2px 2px 5px var(--shadow-color-1);
}

footer {
        position: fixed;
        bottom: 0;
        width: 100%;        
        text-align: center;

}
