

/* global values */
:root {
     --shadow-color-1: purple ;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
     background-color: #77A1C0;
	text-align:center;
}

a,a:active, a:visited {
    color: #4C0121;
}


/* hover effect for links */
a:hover, a:focus{
    color: #01474C;
    font-style: italic;
}

/* navigation */
nav ul {
    width: 1080px;
    padding: 30px;
    margin: 0px auto 0px auto;
    border-top: 5px double #000;
    border-bottom: 5px double #000;
    text-align: center;
}

/* navigation  */
nav ul li {
    display: inline;
    padding: 50px;
    font-size: medium;
}

/* main */
main #shadow {
	text-shadow: 2px 2px 5px var(--shadow-color-1);
}

main table {
	padding: 40px;
	margin: 25px auto 25px auto;
	font-size: large;
	width: 75%;
}

/* header for table */
main th {
	margin: 15px auto 15px auto;
	padding: 15px;
	color: #000;
	border-bottom: 1px solid #000;
	text-transform:uppercase;
}

/* description for table */
main td {
	width: 300px;
	padding: 15px;
	text-align: center;
	padding: 25px;
	margin: 0px;	
}
 

main td.dates {
	font-style: italic;
	padding: 5px;
}

.form-group {
    margin-bottom: 15px; /* Space between form groups */
}

.form-group label {
    display: block; /* Block display for labels */
    margin-bottom: 5px; /* Space between label and input */
    font-weight: bold; /* Bold text for labels */
}

input [type = "text"],
input [type = "email"],
textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Padding for input fields */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
}

button {
    background-color: #007bff; /* button background blue */
    color: white; /* button text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Padding for button */
    cursor: pointer; /* change cursor when hovering */
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

footer {
    padding: 20px;
	text-align: center;
	position: relative;
    bottom: 0;
    width: 100%;
}

