

/* global values */
:root {
        --shadow-color-1: purple ;
}

body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 30px;
        background-color: #77A1C0;
	text-align:center;
}

a,a:active, a:visited {
        color: #4C0121;
}


/* hover effect for links */
a:hover, a:focus{
        color: rgb(5, 195, 255);
        font-style: italic;
}

/* navigation */
nav ul {
        width: 1080px;
        padding: 30px;
        margin: 0px auto 0px auto;
        border-top: 5px double #000;
        border-bottom: 5px double #000;
        text-align: center;
}

/* navigation  */
nav ul li {
        display: inline;
        padding: 50px;
        font-size: medium;
}

/* main */
main #shadow {
	text-shadow: 2px 2px 5px var(--shadow-color-1);
}

main table {
	padding: 40px;
	margin: 25px auto 25px auto;
	font-size: large;
	width: 75%;
}

/* header for table */
main th {
	margin: 15px auto 15px auto;
	padding: 15px;
	color: navy;
	border-bottom: 1px solid #000;
	text-transform:uppercase;
}

/* description for table */
main td {
	width: 300px;
	padding: 15px;
	text-align: center;
	padding: 25px;
	margin: 0px;	
}
 

main td.dates {
	font-style: italic;
	padding: 5px;
}


footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
}

